<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Registration Screen</title>
</head>

<style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .registration-form {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
        }
        .back-to-login{
            float: right;
        }
</style>


<body>

<div class="registration-form">
    <h3>User registration</h3>

    <hr>
    <br>
    <form action="#" th:action="@{/save}" th:object="${user}" method="POST">

        <input type="email" th:field="*{email}"  class="form-control mb-4" placeholder="Email">
<!--        PASSWORD FIELD  -->

        <div class="input-group">
            <input name="password" type="password" id="passwordInput" class="form-control mb-4" placeholder="Password">
            <div class="input-group-append">
                <button type="button" id="showPasswordButton" class="btn btn-secondary" onclick="togglePasswordVisibility()">
                    <i id="showPasswordIcon" class="bi bi-eye-fill"></i>
                    Show password
                </button>
            </div>
        </div>
        <hr>
        <br>
        <input type="text" th:field="*{firstName}" class="form-control mb-4" placeholder="First name">
        <input type="text" th:field="*{lastName}" class="form-control mb-4" placeholder="Last name">


<!--        Error messages -->

        <p th:if="${errorEmailFormat}" class="alert alert-danger col-xs-offset-1 col-xs-10">Incorrect email format.</p>
        <p th:if="${errorPasswordRequirements}" class="alert alert-danger col-xs-offset-1 col-xs-8">Password should have at least 8 characters, one capital letter, one number.</p>
        <p th:if="${errorFirstNameLength}" class="alert alert-danger col-xs-offset-1 col-xs-8">First name should have at least 2 characters.</p>
        <p th:if="${errorLastNameLength}" class="alert alert-danger col-xs-offset-1 col-xs-8">Last name should have at least 2 characters.</p>
        <p th:if="${errorMissingDetails}" class="alert alert-danger col-xs-offset-1 col-xs-8">Fill all details. </p>
        <p th:if="${errorDuplicateEmail}" class="alert alert-danger col-xs-offset-1 col-xs-8">Email already registered.</p>


        <!--        Register button -->

        <div class="button-container">
            <button class="btn btn-primary btn-sm mb-3">Register</button>
            <a class="back-to-login" th:href="@{list}" href="login.html">Back to Login screen</a>
        </div>
    </form>


</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput");
        var showPasswordIcon = document.getElementById("showPasswordIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            showPasswordIcon.classList.remove("bi-eye-fill");
            showPasswordIcon.classList.add("bi-eye-slash-fill");
        } else {
            passwordInput.type = "password";
            showPasswordIcon.classList.remove("bi-eye-slash-fill");
            showPasswordIcon.classList.add("bi-eye-fill");
        }
    }
</script>
</body>
</html>
