<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="myheaeder">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Website Project</title>
</head>

<body id="page-top">

<!--          Navigation BAR-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow p-3 mb-5 " id="mainNav">
    <div class="container px-4">

        <!-- Username and Role -->

        <a class="navbar-brand" href="#page-top">User:  <span sec:authentication="principal.username"/></a>
        <a class="navbar-brand" href="#page-top">    Role:  <span sec:authentication="principal.authorities"/></a>

        <!-- NAVBAR -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form class="nav-link" th:action="@{/static}" method="GET">
                        <button class="btn btn-link nav-link" type="submit">Home</button>
                    </form>
                </li>
                <li class="nav-item">

                    <form class="nav-link" action="profile/profile.html" th:action="@{/profile}">
                        <button class="btn btn-link nav-link" type="submit">Profile</button>
                    </form>

                </li>
                <li class="nav-item" sec:authorize="hasAuthority('MANAGER')">
                    <form class="nav-link" action="user-directory/user-crud.html" th:action="@{/list}" method="GET">
                        <button class="btn btn-link nav-link" type="submit">User directory</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form class="nav-link" action="#" th:action="@{/logout}" method="POST">
                        <button class="btn btn-link nav-link" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>