<!--HEADER THYMELEAF TEMPLATE-->
<head>
    <div th:replace="~{/fragments/header::myheaeder}"></div>
    <title>Andrej Popjak BLOG</title>
</head>


<style>
    .back-to-home {
        display: inline-block;
        text-align: center;
        margin-top: 20px; /* Adjust the margin-top value as needed */
    }
</style>
<!-- Header -->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">User Profile</h1>
    </div>
</header>

<section id="update">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="text-left">Update Password</h3>
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <form action="#" th:action="@{/profile/passwordUpdateSave}" method="POST" class="p-4">
                        <p th:if="${errorIncorrectCurrentPassword}" class="alert alert-danger">Incorrect old password.</p>
                        <p th:if="${errorPasswordsDoestMatch}" class="alert alert-danger">Testing account does not allow changing password. Please log in to our own account</p>
                        <p th:if="${errorPasswordFormat}" class="alert alert-danger">Password should have at least 8 characters, one capital letter, one number.</p>
                        <p th:if="${errorPasswordChangeOnAdminUser}" class="alert alert-danger">You cannot change password on this testing user.</p>

                        <div class="form-group">
                            <label for="oldPasswordInput">Old password<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="password" id="oldPasswordInput" name="oldPasswordInput" class="form-control" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('oldPasswordInput')">Show</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newPasswordInput">New password<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="password" id="newPasswordInput" name="newPasswordInput" class="form-control" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('newPasswordInput')">Show</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newPasswordConfirmation">Confirm Password<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" class="form-control" required>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>

                    <script>
                        function togglePasswordVisibility(inputId) {
                            const input = document.getElementById(inputId);
                            if (input.type === "password") {
                                input.type = "text";
                            } else {
                                input.type = "password";
                            }
                        }
                    </script>


                </div>
                <div class="text-center">
                    <a class="back-to-home" th:href="@{/profile}">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Thymeleaf Template -->
<div th:replace="~{/fragments/footer::myfooter}"></div>
