<!--HEADER THYMELEAF TEMPLATE-->
<head>
    <div th:replace="~{/fragments/header::myheaeder}"></div>
    <title>Andrej Popjak BLOG</title>
</head>



<!-- Header -->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">User Profile</h1>
    </div>
</header>

<!--Middle section-->

<section id="update">
    <div class="row gx-4 justify-content-center">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="update-form-container">
                <h3 class="text-left">Update Personal Details</h3>
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="row">
                        <div class="col">
                            <h5 th:text="${user.firstName + ' ' + user.lastName}" class="text-left"></h5>
                        </div>
                    </div>
                    <hr>
                    <form action="#" th:action="@{/profile/profile-update-save}" th:object="${user}" method="POST">
                        <div class="form-group row my-2">
                            <p th:if="${errorEmailCheck}" class="alert alert-danger col-xs-offset-1 col-xs-10">Incorrect email format or email already used.</p>

                            <label for="inputFirstName" class="col-sm-2 col-form-label text-end">First name</label>
                            <div class="col-sm-4">
                                <input th:field="*{firstName}" type="text" class="form-control" id="inputFirstName" placeholder="First name">
                            </div>
                            <label for="inputLastName" class="col-sm-2 col-form-label text-end">Last name</label>
                            <div class="col-sm-4">
                                <input th:field="*{lastName}" type="text" class="form-control" id="inputLastName" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="inputEmail" class="col-sm-2 col-form-label text-end">Email</label>
                            <div class="col-sm-4">
                                <input th:field="*{email}" type="email" class="form-control" id="inputEmail" placeholder="Email" disabled>
                            </div>


                        </div>
                        <div class="form-group row justify-content-end">
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary">Update User</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center">
                    <a class="back-to-home" th:href="@{/profile}">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Thymeleaf Template -->
<div th:replace="~{/fragments/footer::myfooter}"></div>
