<!--HEADER THYMELEAF TEMPLATE-->
<head>
    <div th:replace="~{/fragments/header::myheaeder}"></div>
    <title>Andrej Popjak BLOG</title>
</head>

<!-- Header -->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">User Profile</h1>

    </div>
</header>

<!-- Update Profile  -->
<section id="update">
    <div class="container justify-content-center">
        <div class="col">
            <h3 class="text-left">Personal information</h3>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <p th:if="${successUpdateMessage}" class="alert alert-success col-xs-offset-1 col-xs-8">User updated. Please reload the screen to display changes.</p>
            <p th:if="${successPasswordUpdated}" class="alert alert-success col-xs-offset-1 col-xs-8">Password updated.</p>


            <br>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <form id="1" action="#" th:object="${currentUser}" method="POST">
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">First name:</label>
                            <div class="col-sm-8">
                                <span th:text="*{firstName}" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Last name:</label>
                            <div class="col-sm-8">
                                <span th:text="*{lastName}" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Email:</label>
                            <div class="col-sm-8">
                                <span th:text="*{email}" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Role:</label>
                            <div class="col-sm-8">
                                <span th:text="*{role}" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Edit personal info:</label>
                            <div class="col-sm-8">
                                <a class="btn btn-outline-dark btn-sm" th:href="@{/profile/profileUpdate(userId=${currentUser.id})}">
                                    Update
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form id="2"  th:object="${currentUser}" method="POST">
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Organization:</label>
                            <div class="col-sm-8">
                                <span th:text="'Popjak.org'" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Organization ID:</label>
                            <div class="col-sm-8">
                                <span th:text="*{id}" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Employee status:</label>
                            <div class="col-sm-8">
                                <span th:text="'Employed'" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Org phone number:</label>
                            <div class="col-sm-8">
                                <span th:text="'+421 950 589 237'" class="text-center"></span>
                            </div>
                        </div>
                        <div class="form-group row my-10 align-items-center">
                            <label class="col-sm-4 col-form-label text-end">Password:</label>
                            <div class="col-sm-8">
                                <a class="btn btn-outline-dark btn-sm" th:href="@{/profile/passwordUpdate}">
                                    Change password
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="back-to-home" th:href="@{/static}">Back to Home</a>
        </div>
    </div>
</section>

<!-- Footer Thymeleaf Template -->
<div th:replace="~{/fragments/footer::myfooter}"></div>
