<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="myheaeder">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<!--    NAVBAR    -->
        <nav id="test" class="navbar navbar-expand-lg bg-light mb-5 pt-4 pb-4">
            <div class="container mb">
            <a class="navbar-brand" th:href="@{/}">Daily JOURNAL</a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/compose}">Compose</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

    </head>
</div>
<body>